.qmake.stash
Makefile
*.o
libsimExtK3.1.0.0.dylib
libsimExtK3.1.0.dylib
libsimExtK3.1.dylib
libsimExtK3.dylib
libsimExtK3.so
libsimExtK3.so.1
libsimExtK3.so.1.0
libsimExtK3.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
